<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhuce_logo_208x72.png</key>
            <dict>
                <key>frame</key>
                <string>{{1799,2},{208,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,72}}</string>
                <key>sourceSize</key>
                <string>{208,72}</string>
            </dict>
            <key>zhuce_logo_376x376.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{376,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,376}}</string>
                <key>sourceSize</key>
                <string>{376,376}</string>
            </dict>
            <key>zhuce_logo_392x392.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{392,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,392}}</string>
                <key>sourceSize</key>
                <string>{392,392}</string>
            </dict>
            <key>zhuce_logo_393x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1222},{393,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,1}}</string>
                <key>sourceSize</key>
                <string>{393,1}</string>
            </dict>
            <key>zhuce_logo_424x156.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1707},{424,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,156}}</string>
                <key>sourceSize</key>
                <string>{424,156}</string>
            </dict>
            <key>zhuce_logo_424x156_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1549},{424,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,156}}</string>
                <key>sourceSize</key>
                <string>{424,156}</string>
            </dict>
            <key>zhuce_logo_424x156_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,1128},{424,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,156}}</string>
                <key>sourceSize</key>
                <string>{424,156}</string>
            </dict>
            <key>zhuce_logo_424x156_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1128},{424,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,156}}</string>
                <key>sourceSize</key>
                <string>{424,156}</string>
            </dict>
            <key>zhuce_logo_424x160.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1387},{424,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,160}}</string>
                <key>sourceSize</key>
                <string>{424,160}</string>
            </dict>
            <key>zhuce_logo_424x160_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,966},{424,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,160}}</string>
                <key>sourceSize</key>
                <string>{424,160}</string>
            </dict>
            <key>zhuce_logo_424x160_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1762},{424,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,160}}</string>
                <key>sourceSize</key>
                <string>{424,160}</string>
            </dict>
            <key>zhuce_logo_424x160_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1600},{424,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,160}}</string>
                <key>sourceSize</key>
                <string>{424,160}</string>
            </dict>
            <key>zhuce_logo_424x160_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,966},{424,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,160}}</string>
                <key>sourceSize</key>
                <string>{424,160}</string>
            </dict>
            <key>zhuce_logo_424x160_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1225},{424,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,160}}</string>
                <key>sourceSize</key>
                <string>{424,160}</string>
            </dict>
            <key>zhuce_logo_424x160_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1438},{424,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,160}}</string>
                <key>sourceSize</key>
                <string>{424,160}</string>
            </dict>
            <key>zhuce_logo_424x160_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1762},{424,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,160}}</string>
                <key>sourceSize</key>
                <string>{424,160}</string>
            </dict>
            <key>zhuce_logo_424x160_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1600},{424,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,160}}</string>
                <key>sourceSize</key>
                <string>{424,160}</string>
            </dict>
            <key>zhuce_logo_424x160_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1438},{424,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,160}}</string>
                <key>sourceSize</key>
                <string>{424,160}</string>
            </dict>
            <key>zhuce_logo_424x160_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,804},{424,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,160}}</string>
                <key>sourceSize</key>
                <string>{424,160}</string>
            </dict>
            <key>zhuce_logo_424x160_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,642},{424,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,160}}</string>
                <key>sourceSize</key>
                <string>{424,160}</string>
            </dict>
            <key>zhuce_logo_424x160_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,650},{424,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,160}}</string>
                <key>sourceSize</key>
                <string>{424,160}</string>
            </dict>
            <key>zhuce_logo_424x160_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,488},{424,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,160}}</string>
                <key>sourceSize</key>
                <string>{424,160}</string>
            </dict>
            <key>zhuce_logo_424x160_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,666},{424,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,160}}</string>
                <key>sourceSize</key>
                <string>{424,160}</string>
            </dict>
            <key>zhuce_logo_424x160_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,504},{424,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,160}}</string>
                <key>sourceSize</key>
                <string>{424,160}</string>
            </dict>
            <key>zhuce_logo_431x152.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,488},{431,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,152}}</string>
                <key>sourceSize</key>
                <string>{431,152}</string>
            </dict>
            <key>zhuce_logo_442x160.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1060},{442,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,160}}</string>
                <key>sourceSize</key>
                <string>{442,160}</string>
            </dict>
            <key>zhuce_logo_442x160_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,898},{442,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,160}}</string>
                <key>sourceSize</key>
                <string>{442,160}</string>
            </dict>
            <key>zhuce_logo_442x160_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1276},{442,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,160}}</string>
                <key>sourceSize</key>
                <string>{442,160}</string>
            </dict>
            <key>zhuce_logo_442x160_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,326},{442,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,160}}</string>
                <key>sourceSize</key>
                <string>{442,160}</string>
            </dict>
            <key>zhuce_logo_442x160_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,326},{442,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,160}}</string>
                <key>sourceSize</key>
                <string>{442,160}</string>
            </dict>
            <key>zhuce_logo_442x160_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{442,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,160}}</string>
                <key>sourceSize</key>
                <string>{442,160}</string>
            </dict>
            <key>zhuce_logo_442x160_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,326},{442,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,160}}</string>
                <key>sourceSize</key>
                <string>{442,160}</string>
            </dict>
            <key>zhuce_logo_442x160_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,164},{442,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,160}}</string>
                <key>sourceSize</key>
                <string>{442,160}</string>
            </dict>
            <key>zhuce_logo_442x160_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,164},{442,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,160}}</string>
                <key>sourceSize</key>
                <string>{442,160}</string>
            </dict>
            <key>zhuce_logo_442x160_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{442,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,160}}</string>
                <key>sourceSize</key>
                <string>{442,160}</string>
            </dict>
            <key>zhuce_logo_442x160_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,164},{442,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,160}}</string>
                <key>sourceSize</key>
                <string>{442,160}</string>
            </dict>
            <key>zhuce_logo_442x160_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,2},{442,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,160}}</string>
                <key>sourceSize</key>
                <string>{442,160}</string>
            </dict>
            <key>zhuce_logo_442x160_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,2},{442,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,160}}</string>
                <key>sourceSize</key>
                <string>{442,160}</string>
            </dict>
            <key>zhuce_logo_442x160_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,18},{442,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,160}}</string>
                <key>sourceSize</key>
                <string>{442,160}</string>
            </dict>
            <key>zhuce_logo_442x160_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{442,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,160}}</string>
                <key>sourceSize</key>
                <string>{442,160}</string>
            </dict>
            <key>zhuce_logo_463x14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{463,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,14}}</string>
                <key>sourceSize</key>
                <string>{463,14}</string>
            </dict>
            <key>zhuce_logo_64x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,76},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zhuce_logo_72x72.png</key>
            <dict>
                <key>frame</key>
                <string>{{1799,76},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhuce_logo.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08facc2773574591a71284ee8ae880df:1/1$</string>
            <key>textureFileName</key>
            <string>zhuce_logo.png</string>
        </dict>
    </dict>
</plist>
