<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>🐲_234x322.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,810},{148,138}}</string>
                <key>offset</key>
                <string>{6,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,175},{148,138}}</string>
                <key>sourceSize</key>
                <string>{234,322}</string>
            </dict>
            <key>🐲_234x322_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{160,188}}</string>
                <key>offset</key>
                <string>{3,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,121},{160,188}}</string>
                <key>sourceSize</key>
                <string>{234,322}</string>
            </dict>
            <key>🐲_234x322_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{174,236}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,66},{174,236}}</string>
                <key>sourceSize</key>
                <string>{234,322}</string>
            </dict>
            <key>🐲_234x322_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,518},{182,242}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,65},{182,242}}</string>
                <key>sourceSize</key>
                <string>{234,322}</string>
            </dict>
            <key>🐲_234x322_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,268},{190,248}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,48},{190,248}}</string>
                <key>sourceSize</key>
                <string>{234,322}</string>
            </dict>
            <key>🐲_234x322_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{206,264}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,36},{206,264}}</string>
                <key>sourceSize</key>
                <string>{234,322}</string>
            </dict>
            <key>🐲_234x322_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{184,284}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{184,284}}</string>
                <key>sourceSize</key>
                <string>{234,322}</string>
            </dict>
            <key>🐲_234x322_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,282}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{234,282}}</string>
                <key>sourceSize</key>
                <string>{234,322}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38aa81bf062d513cafc2a6e0c47d5e5f:1/1$</string>
            <key>textureFileName</key>
            <string>dragon.png</string>
        </dict>
    </dict>
</plist>
