<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>win_light_238x183.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{238,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,183}}</string>
                <key>sourceSize</key>
                <string>{238,183}</string>
            </dict>
            <key>win_light_271x220.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,185},{271,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,220}}</string>
                <key>sourceSize</key>
                <string>{271,220}</string>
            </dict>
            <key>win_light_64x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>win_light.png</string>
            <key>size</key>
            <string>{306,405}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f41bcc7ac573f1c7f68ad3d8b1df8172:b8d4e22f3059492eabdfbfb7425265d2:2f487ba611116a5696e640ba8d7c6dcc$</string>
            <key>textureFileName</key>
            <string>win_light.png</string>
        </dict>
    </dict>
</plist>
