@charset "utf-8";

.header {
	padding-top: 16px;
	background-size: 100% 64px
}

#myInfo {
	top: 18px
}

.indexPopBox {
	top: 64px
}

.sq_header {
	padding-top: 16px;
	background-size: 100% 64px
}

.main.main_b {
	padding-top: 64px
}

.weather {
	margin-bottom: 6px
}

.sq_section {
	background: #ebeef0;
	margin-top: 1px;
	padding-top: 241px
}

#shopMallNav {
	top: 61px
}

#shopMallSection {
	padding-top: 201px
}

#shopMallSection.SCNoLogin {
	padding-top: 135px
}

#section {
	padding-top: 64px
}

#searchFriendBox {
	top: 65px
}

#jpNotesBox {
	padding-top: 61px
}

#address {
	padding-top: 63px
}

.subnav-list {
	top: 104px
}

#coupon {
	padding-top: 61px
}

.pageBox {
	top: 64px
}

.match-team {
	font-weight: 700
}

.JQ_nav {
	top: 104px
}

.zs-con {
	padding-top: 65px
}

#helpShare {
	top: 20px
}

#rank-box {
	top: 154px
}

.guess-header {
	padding-top: 0;
}

.hall-top {
	margin-top: 0px;
}

.sz-box {
	top: 165px
}

.index-nav li.on,.nav-ulbox li.on {
	font-weight: 700
}

.change-title {
	padding-top: 16px
}

.act-sure,.change-close {
	top: 16px
}

.change-clumn {
	top: 52px
}

.guess-nav span.on {
	font-weight: 700
}

.listContent,.sectionStytle {
	top: 64px
}

@media only screen and (device-width:375px) and (device-height:812px) and (-webkit-device-pixel-ratio:3) {
	.header {
		padding-top: 40px;
		background-size: 100% 88px
	}

	.indexPopBox {
		top: 88px
	}

	.sq_header {
		padding-top: 40px;
		background-size: 100% 88px
	}

	.main.main_b {
		padding-top: 88px
	}

	.weather {
		margin-bottom: 10px
	}

	#shopMallNav {
		top: 85px
	}

	#shopMallSection {
		padding-top: 225px
	}

	#shopMallSection.SCNoLogin {
		padding-top: 159px
	}

	#section {
		padding-top: 88px
	}

	#searchFriendBox {
		top: 88px
	}

	#jpNotesBox {
		padding-top: 85px
	}

	#address {
		padding-top: 87px
	}

	#coupon {
		padding-top: 85px
	}

	.pageBox {
		top: 88px
	}

	.match-team {
		font-weight: 700
	}

	.JQ_nav {
		top: 128px
	}

	.zs-con {
		padding-top: 88px
	}

	#helpShare {
		top: 48px
	}

	.guess-header {
		padding-top: 40px
	}

	.hall-top {
		margin-top: 76px
	}

	.sz-box {
		top: 189px
	}

	.index-nav li.on,.nav-ulbox li.on {
		font-weight: 700
	}

	.change-title {
		padding-top: 40px
	}

	.act-sure,.change-close {
		top: 40px
	}

	.change-clumn {
		top: 76px
	}

	.guess-nav span.on {
		font-weight: 700
	}

	.listContent,.sectionStytle {
		top: 88px
	}

	#rank-box {
		top: 178px
	}
}