<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>爆炸_111x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,558},{111,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,66}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>爆炸_135x98.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,416},{123,86}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{123,86}}</string>
                <key>sourceSize</key>
                <string>{135,98}</string>
            </dict>
            <key>爆炸_146x252.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,198},{134,216}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,25},{134,216}}</string>
                <key>sourceSize</key>
                <string>{146,252}</string>
            </dict>
            <key>爆炸_147x108.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,504},{115,74}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{115,74}}</string>
                <key>sourceSize</key>
                <string>{147,108}</string>
            </dict>
            <key>爆炸_150x101.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{142,93}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{142,93}}</string>
                <key>sourceSize</key>
                <string>{150,101}</string>
            </dict>
            <key>爆炸_150x101_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,580},{108,59}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,41},{108,59}}</string>
                <key>sourceSize</key>
                <string>{150,101}</string>
            </dict>
            <key>爆炸_161x99.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,97},{137,99}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{137,99}}</string>
                <key>sourceSize</key>
                <string>{161,99}</string>
            </dict>
            <key>爆炸_200x200.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{186,174}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{186,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>爆炸_392x344.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,332}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{364,332}}</string>
                <key>sourceSize</key>
                <string>{392,344}</string>
            </dict>
            <key>爆炸_395x240.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{351,220}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{351,220}}</string>
                <key>sourceSize</key>
                <string>{395,240}</string>
            </dict>
            <key>爆炸_61x61.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,626},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>爆炸_96x92.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,580},{84,78}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{84,78}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boom.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79bb4a38e8c97484b29535095fb8fc10:1/1$</string>
            <key>textureFileName</key>
            <string>boom.png</string>
        </dict>
    </dict>
</plist>
