<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>箭头02_25x29.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{21,25}}</string>
                <key>sourceSize</key>
                <string>{25,29}</string>
            </dict>
            <key>箭头02_36x43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,41}}</string>
                <key>sourceSize</key>
                <string>{36,43}</string>
            </dict>
            <key>箭头02_42x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{40,3}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,3}}</string>
                <key>sourceSize</key>
                <string>{42,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arrow.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f8affec4518b140314491266cca869f:1/1$</string>
            <key>textureFileName</key>
            <string>arrow.png</string>
        </dict>
    </dict>
</plist>
