<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BIG WIN_325x292.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,200}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,44},{207,200}}</string>
                <key>sourceSize</key>
                <string>{325,292}</string>
            </dict>
            <key>BIG WIN_325x292_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,860},{157,156}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,88},{157,156}}</string>
                <key>sourceSize</key>
                <string>{325,292}</string>
            </dict>
            <key>BIG WIN_325x292_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,702},{157,156}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,88},{157,156}}</string>
                <key>sourceSize</key>
                <string>{325,292}</string>
            </dict>
            <key>BIG WIN_325x292_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{157,156}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,88},{157,156}}</string>
                <key>sourceSize</key>
                <string>{325,292}</string>
            </dict>
            <key>BIG WIN_325x292_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{157,156}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,88},{157,156}}</string>
                <key>sourceSize</key>
                <string>{325,292}</string>
            </dict>
            <key>BIG WIN_325x292_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,544},{157,156}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,88},{157,156}}</string>
                <key>sourceSize</key>
                <string>{325,292}</string>
            </dict>
            <key>BIG WIN_325x292_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{203,196}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,50},{203,196}}</string>
                <key>sourceSize</key>
                <string>{325,292}</string>
            </dict>
            <key>BIG WIN_325x292_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,200},{199,184}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,69},{199,184}}</string>
                <key>sourceSize</key>
                <string>{325,292}</string>
            </dict>
            <key>BIG WIN_325x292_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{181,180}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,75},{181,180}}</string>
                <key>sourceSize</key>
                <string>{325,292}</string>
            </dict>
            <key>BIG WIN_325x292_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{163,162}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,85},{163,162}}</string>
                <key>sourceSize</key>
                <string>{325,292}</string>
            </dict>
            <key>BIG WIN_325x292_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{157,156}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,88},{157,156}}</string>
                <key>sourceSize</key>
                <string>{325,292}</string>
            </dict>
            <key>BIG WIN_325x292_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,544},{157,156}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,88},{157,156}}</string>
                <key>sourceSize</key>
                <string>{325,292}</string>
            </dict>
            <key>BIG WIN_325x292_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,386},{157,156}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,88},{157,156}}</string>
                <key>sourceSize</key>
                <string>{325,292}</string>
            </dict>
            <key>BIG WIN_325x292_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,386},{157,156}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,88},{157,156}}</string>
                <key>sourceSize</key>
                <string>{325,292}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigwin.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60bc3b573d0be6343c3b09595168b107:1/1$</string>
            <key>textureFileName</key>
            <string>bigwin.png</string>
        </dict>
    </dict>
</plist>
