<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>奖池最终确定_112x8.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,40},{112,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,8}}</string>
                <key>sourceSize</key>
                <string>{112,8}</string>
            </dict>
            <key>奖池最终确定_175x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{175,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,36}}</string>
                <key>sourceSize</key>
                <string>{175,36}</string>
            </dict>
            <key>奖池最终确定_179x134.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,38},{165,122}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{165,122}}</string>
                <key>sourceSize</key>
                <string>{179,134}</string>
            </dict>
            <key>奖池最终确定_187x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{173,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{173,34}}</string>
                <key>sourceSize</key>
                <string>{187,50}</string>
            </dict>
            <key>奖池最终确定_658x520.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{604,520}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{604,520}}</string>
                <key>sourceSize</key>
                <string>{658,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jackpot.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03867a9487663eeae6daea7687fcc196:1/1$</string>
            <key>textureFileName</key>
            <string>jackpot.png</string>
        </dict>
    </dict>
</plist>
