<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>star_light_1_111x85.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,85},{111,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,85}}</string>
                <key>sourceSize</key>
                <string>{111,85}</string>
            </dict>
            <key>star_light_1_12x18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>star_light_1_147x136.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,85},{147,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,136}}</string>
                <key>sourceSize</key>
                <string>{147,136}</string>
            </dict>
            <key>star_light_1_154x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,2},{154,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,26}}</string>
                <key>sourceSize</key>
                <string>{154,26}</string>
            </dict>
            <key>star_light_1_154x57.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2},{154,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,57}}</string>
                <key>sourceSize</key>
                <string>{154,57}</string>
            </dict>
            <key>star_light_1_20x31.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{20,31}</string>
            </dict>
            <key>star_light_1_21x33.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{21,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,33}}</string>
                <key>sourceSize</key>
                <string>{21,33}</string>
            </dict>
            <key>star_light_1_26x41.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{26,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,41}}</string>
                <key>sourceSize</key>
                <string>{26,41}</string>
            </dict>
            <key>star_light_1_29x124.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,85},{29,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,124}}</string>
                <key>sourceSize</key>
                <string>{29,124}</string>
            </dict>
            <key>star_light_1_32x31.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>star_light_1_32x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,2},{32,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,56}}</string>
                <key>sourceSize</key>
                <string>{32,56}</string>
            </dict>
            <key>star_light_1_33x31.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>star_light_1_34x100.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,85},{34,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,100}}</string>
                <key>sourceSize</key>
                <string>{34,100}</string>
            </dict>
            <key>star_light_1_34x42.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,42}}</string>
                <key>sourceSize</key>
                <string>{34,42}</string>
            </dict>
            <key>star_light_1_34x45.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>star_light_1_34x51.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{34,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,51}}</string>
                <key>sourceSize</key>
                <string>{34,51}</string>
            </dict>
            <key>star_light_1_34x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{34,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,56}}</string>
                <key>sourceSize</key>
                <string>{34,56}</string>
            </dict>
            <key>star_light_1_34x56_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{34,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,56}}</string>
                <key>sourceSize</key>
                <string>{34,56}</string>
            </dict>
            <key>star_light_1_35x37.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>star_light_1_35x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,2},{35,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,58}}</string>
                <key>sourceSize</key>
                <string>{35,58}</string>
            </dict>
            <key>star_light_1_35x69.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{35,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,69}}</string>
                <key>sourceSize</key>
                <string>{35,69}</string>
            </dict>
            <key>star_light_1_38x84.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,85},{38,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,84}}</string>
                <key>sourceSize</key>
                <string>{38,84}</string>
            </dict>
            <key>star_light_1_43x81.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{43,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,81}}</string>
                <key>sourceSize</key>
                <string>{43,81}</string>
            </dict>
            <key>star_light_1_44x72.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,2},{44,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,72}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>star_light_1_48x85.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,85},{48,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,85}}</string>
                <key>sourceSize</key>
                <string>{48,85}</string>
            </dict>
            <key>star_light_1_56x84.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,85},{56,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,84}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>star_light_1_60x138.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,85},{60,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,138}}</string>
                <key>sourceSize</key>
                <string>{60,138}</string>
            </dict>
            <key>star_light_1_63x82.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,85},{63,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,82}}</string>
                <key>sourceSize</key>
                <string>{63,82}</string>
            </dict>
            <key>star_light_1_64x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_light_1_65x81.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{65,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,81}}</string>
                <key>sourceSize</key>
                <string>{65,81}</string>
            </dict>
            <key>star_light_1_70x85.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,85},{70,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,85}}</string>
                <key>sourceSize</key>
                <string>{70,85}</string>
            </dict>
            <key>star_light_1_74x83.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,85},{74,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,83}}</string>
                <key>sourceSize</key>
                <string>{74,83}</string>
            </dict>
            <key>star_light_1_76x81.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,85},{76,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,81}}</string>
                <key>sourceSize</key>
                <string>{76,81}</string>
            </dict>
            <key>star_light_1_89x85.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,85},{89,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,85}}</string>
                <key>sourceSize</key>
                <string>{89,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>star_light_1.png</string>
            <key>size</key>
            <string>{974,225}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:017c5c17db7f6e58d3a9cee712dabf3a:ce41fc08ea51a84ecf26512f871f1561:23b516f65de647c062cb3da3799e7ed0$</string>
            <key>textureFileName</key>
            <string>star_light_1.png</string>
        </dict>
    </dict>
</plist>
