<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>toubao_start_198x120.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{198,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,120}}</string>
                <key>sourceSize</key>
                <string>{198,120}</string>
            </dict>
            <key>toubao_start_206x244.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>toubao_start_210x146.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{210,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,146}}</string>
                <key>sourceSize</key>
                <string>{210,146}</string>
            </dict>
            <key>toubao_start_232x130.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,130}}</string>
                <key>sourceSize</key>
                <string>{232,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>toubao_start.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:220917459c03daf555ac9fa310f8c28b:1/1$</string>
            <key>textureFileName</key>
            <string>toubao_start.png</string>
        </dict>
    </dict>
</plist>
