<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_logo_light_104x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,589},{104,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,96}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>home_logo_light_109x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,491},{109,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,96}}</string>
                <key>sourceSize</key>
                <string>{109,96}</string>
            </dict>
            <key>home_logo_light_116x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{116,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,56}}</string>
                <key>sourceSize</key>
                <string>{116,56}</string>
            </dict>
            <key>home_logo_light_136x67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{136,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,67}}</string>
                <key>sourceSize</key>
                <string>{136,67}</string>
            </dict>
            <key>home_logo_light_149x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,622},{149,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,62}}</string>
                <key>sourceSize</key>
                <string>{149,62}</string>
            </dict>
            <key>home_logo_light_153x91.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,529},{153,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,91}}</string>
                <key>sourceSize</key>
                <string>{153,91}</string>
            </dict>
            <key>home_logo_light_155x67.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,460},{155,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,67}}</string>
                <key>sourceSize</key>
                <string>{155,67}</string>
            </dict>
            <key>home_logo_light_171x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{171,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,96}}</string>
                <key>sourceSize</key>
                <string>{171,96}</string>
            </dict>
            <key>home_logo_light_187x90.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{187,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,90}}</string>
                <key>sourceSize</key>
                <string>{187,90}</string>
            </dict>
            <key>home_logo_light_200x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,362},{200,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,96}}</string>
                <key>sourceSize</key>
                <string>{200,96}</string>
            </dict>
            <key>home_logo_light_208x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{208,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,96}}</string>
                <key>sourceSize</key>
                <string>{208,96}</string>
            </dict>
            <key>home_logo_light_217x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,264},{217,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,96}}</string>
                <key>sourceSize</key>
                <string>{217,96}</string>
            </dict>
            <key>home_logo_light_228x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,166},{228,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,96}}</string>
                <key>sourceSize</key>
                <string>{228,96}</string>
            </dict>
            <key>home_logo_light_236x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,68},{236,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,96}}</string>
                <key>sourceSize</key>
                <string>{236,96}</string>
            </dict>
            <key>home_logo_light_249x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{249,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,96}}</string>
                <key>sourceSize</key>
                <string>{249,96}</string>
            </dict>
            <key>home_logo_light_24x61.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,600},{24,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,61}}</string>
                <key>sourceSize</key>
                <string>{24,61}</string>
            </dict>
            <key>home_logo_light_25x61.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,362},{25,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,61}}</string>
                <key>sourceSize</key>
                <string>{25,61}</string>
            </dict>
            <key>home_logo_light_260x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{260,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,96}}</string>
                <key>sourceSize</key>
                <string>{260,96}</string>
            </dict>
            <key>home_logo_light_262x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,18},{262,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,96}}</string>
                <key>sourceSize</key>
                <string>{262,96}</string>
            </dict>
            <key>home_logo_light_29x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,377},{29,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,60}}</string>
                <key>sourceSize</key>
                <string>{29,60}</string>
            </dict>
            <key>home_logo_light_29x63.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,312},{29,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,63}}</string>
                <key>sourceSize</key>
                <string>{29,63}</string>
            </dict>
            <key>home_logo_light_29x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,328},{29,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,66}}</string>
                <key>sourceSize</key>
                <string>{29,66}</string>
            </dict>
            <key>home_logo_light_31x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,264},{31,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,62}}</string>
                <key>sourceSize</key>
                <string>{31,62}</string>
            </dict>
            <key>home_logo_light_32x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>home_logo_light_463x14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{463,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,14}}</string>
                <key>sourceSize</key>
                <string>{463,14}</string>
            </dict>
            <key>home_logo_light_47x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,825},{47,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,96}}</string>
                <key>sourceSize</key>
                <string>{47,96}</string>
            </dict>
            <key>home_logo_light_48x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,923},{48,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,96}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>home_logo_light_50x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,439},{50,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,96}}</string>
                <key>sourceSize</key>
                <string>{50,96}</string>
            </dict>
            <key>home_logo_light_51x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,923},{51,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,96}}</string>
                <key>sourceSize</key>
                <string>{51,96}</string>
            </dict>
            <key>home_logo_light_51x96_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,635},{51,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,96}}</string>
                <key>sourceSize</key>
                <string>{51,96}</string>
            </dict>
            <key>home_logo_light_55x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,537},{55,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,96}}</string>
                <key>sourceSize</key>
                <string>{55,96}</string>
            </dict>
            <key>home_logo_light_64x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,425},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>home_logo_light_66x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,18},{66,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,40}</string>
            </dict>
            <key>home_logo_light_69x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,825},{69,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,96}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>home_logo_light_72x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,923},{72,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,96}}</string>
                <key>sourceSize</key>
                <string>{72,96}</string>
            </dict>
            <key>home_logo_light_72x96_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,825},{72,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,96}}</string>
                <key>sourceSize</key>
                <string>{72,96}</string>
            </dict>
            <key>home_logo_light_72x96_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,727},{72,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,96}}</string>
                <key>sourceSize</key>
                <string>{72,96}</string>
            </dict>
            <key>home_logo_light_73x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,727},{73,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,96}}</string>
                <key>sourceSize</key>
                <string>{73,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home_logo_light.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c078956ce5f5141b85f1524c18ddb80c:1/1$</string>
            <key>textureFileName</key>
            <string>home_logo_light.png</string>
        </dict>
    </dict>
</plist>
